body{
	margin: 0;
	padding: 0;
}
.login-container{
	grid-area: login;
}
.img-container{
	/*grid-area: image;*/
	background-color: tomato;
}
.logo{
	margin: auto;
}
.top-container{
	background-color: #FDC758;
	position: relative;
}
.top-grid{
	display: grid;
	grid-template-areas: 
	'top top top top top top login a a'
	'mid mid mid mid image b b b b'
	'mid mid mid mid image b b b b'
	'fill fill fill fill fill fill fill fill fill'
	'c c search search search search search d d'
	'bot bot bot bot bot bot bot bot bot';
	min-height: 60vh;
}
.bot-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.bot-title{
	display: flex;
	justify-content: center;
	margin: 3vw 0vw 3vw 0vw;
	font-weight: bold;
	font-size: 3em;
}
.bot-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	width: 80%;
	height: 80%;
}
.bot-grid-item{
	width: 25%;
	margin: 2%;
	background-color: #F0F0F0;
	text-align: center;
	border-radius: 15px;
}

.cat-box-name {
	margin: 0;
	padding: 3.5vw 0 3.5vw 0;
	font-weight: 300;
}

.cat-box-link, .cat-box-link:hover, .cat-box-link:visited {
	text-decoration: none;
	color: black;
}

.top-search{
	grid-area: search;
}

.input-btn {
    background-color: white;
    border: 1px solid #323031;
    border-radius: 5px;
    padding: 0.5vw 5vw;
}

.input-btn:hover, .logout-btn:hover {
    background-color: #323031;
    border-color: none;
    color: white;
}


input[type=text]{
	border-radius: 6px;
	border: 1px solid black;
	width: 70%;
	min-height: 40px;
	padding-left: 40px;
	font-size: 1em;
}
input[type=submit]{
	border-radius: 4px;
	border: 1px solid white;
	background-color: black;
	color: white;
	min-height: 40px;
	margin-left: 1vw;
}

.login-submit{
	width: 80%;
	margin-top: 3vh;
}